*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica;
    background: #e8e8e8;
}


.card{
    align-content: flex-start;
}

.cards-resumen{
    display: flex;
}

.cards-tutorial{
    display: flex;
}

#cards h1{
    text-align: center;
}


#footer{
    list-style: none;
    padding: 20px;
    background: black;
    height: 100px;
    width: 100%;
    margin: auto;
}   

.copyright{
    color: white;
    text-align: left;
}

.nosotros-contactos i a{
    text-align: left;
    color: white;
}

.terminosCondiciones i a{
    align-items: center;
    color: rgb(134, 130, 130);
}
