.hero {
    border-bottom: solid 3px red;
    background-color: aqua;
}

.buscador{
    display: flex;
}
.localBrowser{
    align-content: flex-start;
}
.filterBrowser{
    align-content: flex-end;
}

.rankNews{
    display: flex;
}
.rank{
    align-content: flex-start;
}
.ranking{
    border-bottom: 3px solid black;
}
.news{
    align-content: flex-end;
}
.noticias{
    border-bottom: 3px solid black;
}

.located{
    display: flex;
}
.ads1{
    align-content: flex-start;
}
.maps{
    align-content: center;
}
.ads2{
    align-content: flex-end;
}