*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica;
    background-image: url(./img/fondoClaro.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.hero{
    width: 100%;
    height: 100%;
    background-color: rgb(29, 27, 27);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
} 

.buscador{
    display: flex;
}
.localBrowser{
    align-content: flex-start;
}
.filterBrowser{
    align-content: flex-end;
}

.rankNews{
    display: flex;
}
.rank{
    align-content: flex-start;
}
.title{
    text-align: center;
}
.ranking{
    border-bottom: 3px solid black;
}
.news{
    align-content: flex-end;
}
.noticias{
    border-bottom: 3px solid black;
}

.located{
    display: flex;
}
.ads1{
    align-content: flex-start;
}
.maps{
    align-content: center;
}
.ads2{
    align-content: flex-end;
}

.nav_foot{
    width: 100%;
    height: 100%;
    background-color: rgb(29, 27, 27);
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-content: center;
} 